body {
    background-color: aliceblue;
    font-size: 16pt;
    font-family:'Courier New', Courier, monospace;
}

.container {
    display: grid;
    grid-template-rows: minmax(0px, 15vh) auto;
    justify-items: center;
}

.calculator {
    width: auto;
    display: grid;
    grid-row-start: 2;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    grid-template-areas: ". . . ."
                        "clear clear clear divide"
                        ". . . multiply"
                        ". . . subtract"
                        ". . . add"
                        ". . . equals";
}

.button {
    background-color: rgb(100, 11, 11);
    color: aliceblue;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.button.digit {
    background-color: black;
}

.button:hover {
    box-shadow: 0 0 0 1px #333;
}

.button:active {
    transform: scale(.98);
}

.display {
    grid-column: 1 / -1;
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
    align-content: center;
    justify-content: end;
    padding-right: 10px;
    transition:all 0.07s;
}

.display--flash {
    background: rgb(194, 194, 133);
}

.function {
    font-family: sans-serif;
}

.function--selected {
    border: 2px solid yellow;
}

.button-divide {
    grid-area: divide;
}

.button-multiply {
    grid-area: multiply;
}

.button-subtract {
    grid-area: subtract;
}

.button-add {
    grid-area: add;
}

.button-equals {
    grid-area: equals;
}

.button-clear {
    grid-area: clear;
}

.button0 {
    grid-column: span 2;
}